@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --light: #fff;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.snow .description {
  color: black;
}

.night {
  background: radial-gradient(#2e5eaa, #373b44);
}

.rain {
  background: radial-gradient(#636d75, #969899);
}

.snow {
  background: radial-gradient(#ffffff, #ece9e6);
}

.clear-hot {
  background: radial-gradient(#f8b500, #d3c49f);
}

.clear {
  background: radial-gradient(#b3b398, #215f00);
}

.clear-cold {
  background: radial-gradient(#667db6, #0082c8, #0082c8, #667db6);
}

@media (max-width: 760px) {
  .app-container {
    padding-top: 30px;
  }
}
