.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff !important;
    font-weight: 600;
    padding: 20px 10px;
}

.footer p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(.5em + .5vw) !important;
}

.snow .footer {
    color: #000 !important;
}