.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: rgb(227, 227, 227);
    border-radius: 10px;
    max-width: 75%;
    font-weight: 700;
}

.search .icon {
    transition: transform .3s;
}

.search .icon:hover {
    transform: scale(1.1);
}

.search input {
    background: rgb(227, 227, 227);
    border: none;
    font-size: calc(.6em + .7vw);
    padding: 0 5px;
    font-weight: 600;
}

.search input:focus {
    outline: none;
}
